body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px;
}

.header__logo {
  font-size: 30px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__sign-up {
  margin-right: 56px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.header__bag-icon {
  margin-right: 16px;
}

.header__bag-quantity {
  font-size: 12px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  font-size: 13px;
}

.menu__item:not(:last-child) {
  margin-right: 66px;
}

.search {
  position: relative;
}

.search__input {
  padding: 8px 20px 10px 0;
  width: 100px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  font-size: 12px;
  color: #a8a8a8;
  outline: none;
}

.search__inner::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-image: url("../img/search-icon.png");
}