/* === COMMON === */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 0 60px;
}

.container--wider {
  margin: 0 auto;
  position: relative;
  width: 1300px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.lines {
  position: relative;
  flex-shrink: 10000;
  width: 100%;
}

.lines__left,
.lines__right {
  position: absolute;
  height: 1px;
  width: 100%;
}

.lines__left--top,
.lines__right--top {
  top: 0;
}

.lines__left--bottom,
.lines__right--bottom {
  bottom: 0;
}

.lines__left--top,
.lines__left--bottom {
  background: linear-gradient(270deg, #e5e5e5, #ffffff);
}

.lines__right--top,
.lines__right--bottom {
  background: linear-gradient(90deg, #e5e5e5, #ffffff);
}

.product {
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  max-width: 250px;
}

.arrow-top,
.arrow-bottom {
  position: absolute;
  left: 50%;
}

.arrow-top {
  top: -54px;
  transform: translateX(-50%);
}

.arrow-bottom {
  bottom: -49px;
  transform: translateX(-50%) rotate(180deg);
}

.product--new::after {
  content: 'NEW';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 15px;
  padding: 6px 0;
  width: 53px;
  background-color: #f14a58;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.product__img {
  width: 100%;
  height: 100%;
  max-height: 340px;
  max-width: 240px;
}

.product__thumbnail {
  display: flex;
  position: relative;
  margin-bottom: 42px;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: 0;
  transition: .3s all ease;
}

.product__overlay-text {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  color: #f14a58;
  font-size: 22px;
  letter-spacing: 0.03em;
}

.product:hover .product__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.product:hover .product__name {
  color: #f14a58;
}

.product__description {
  padding: 0 32px;
  font-size: 14px;
}

.product__name {
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  line-height: 1.8;
  transition: .3s all ease;
}

.product__price-wrapper {
  display: flex;
  justify-content: center;
}

.product__price {
  font-weight: 400;
}

.product__price--old {
  position: relative;
  margin-right: 7px;
  color: #757575;
}

.product__price--old::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -6px;
  display: block;
  height: 1px;
  width: 60px;
  background-color: #f25a66;
  transform: rotate(-30deg);
}

.button {
  display: inline-block;
  padding: 23px 0;
  width: 339px;
  border: 1px solid #e5e5e5;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  transition: .3s all ease;
}

.button:hover {
  color: #f14a58;
  border: 1px solid #f14a58;
}
/* === / COMMON === */

/* === HEADER === */
.header {
  padding-bottom: 24px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 22px;
}

.header__logo {
  font-size: 30px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  top: -4px;
}

.header__sign-up {
  margin-right: 56px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.header__bag-icon {
  margin-right: 16px;
}

.header__bag-quantity {
  font-size: 12px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.nav {
  justify-content: space-between;
  display: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  font-size: 13px;
  letter-spacing: 0.01em;
}

.menu__item:not(:last-child) {
  margin-right: 66px;
}

.menu__item-link:hover {
  color: #f14a58;
}

.search {
  position: relative;
}

.search__input {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 0;
  visibility: hidden;
  padding: 10px 20px 10px 0;
  width: 120px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  font-size: 12px;
  color: #a8a8a8;
  outline: none;
}

.search__input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #a8a8a8;
  letter-spacing: 0.03em;
}

.search__input-icon,
.search__input-icon--toggler {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.search__input-icon--toggler {
  display: none;
}
/* === / HEADER === */

/* === FIRST-SCREEN === */
.first-screen {
  display: flex;
  position: relative;
}

.first-screen__inner {
  display: flex;
}

.first-screen__wrapper {
  position: relative;
}

.first-screen__text {
  position: absolute;
  top: 9%;
  right: 16%;
  text-align: center;
}

.first-screen__wrapper:first-child {
  border-right: 1px solid #e5e5e5;
}

.first-screen__img {
  height: 100%;
  width: 100%;
}

.first-screen__product-name {
  margin-bottom: 9px;
  font-size: 28px;
  letter-spacing: 0.02em;
}

.first-screen__discount {
  font-family: "Times New Roman", serif;
  color: #757575;
  font-weight: 400;
  text-align: center;
}
/* === / FIRST-SCREEN === */

/* === OFFER === */
.offer__inner {
  padding: 45px 0 149px;
}

.offer__heading {
  margin-bottom: 124px;
  text-align: center;
}

.offer__title {
  margin-bottom: 15px;
  font-size: 50px;
  letter-spacing: 0.025em;
}

.offer__subtitle {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
}

.offer__best {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__plus-sign,
.offer__equality-sign {
  position: relative;
  top: -50px;
}

.offer__summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -42px;
  height: 325px;
  font-family: 'Roboto', sans-serif;
}

.offer__product-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 64%;
}

.offer__product-list > .product {
  max-width: 240px;
}

.old-price {
  position: relative;
  top: 93px;
  left: -73px;
  font-size: 26px;
  color: #757575;
  font-weight: 400;
}

.old-price::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -6px;
  display: block;
  height: 1px;
  width: 100px;
  background-color: #f25a66;
  transform: rotate(-30deg);
}

.new-price {
  position: relative;
  bottom: -16px;
  font-size: 34px;
  letter-spacing: 0.015em;
}
/* === / OFFER === */

/* === ARRIVALS === */
.arrivals {
  display: flex;
}

.arrivals__inner {
  padding: 50px 0 100px;
}

.arrivals__product-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.arrivals__product-wrapper > .product {
  padding: 0 10px 0 0;
}

.arrivals__product-wrapper > .product:last-child {
  padding: 0;
  max-width: 240px;
}

.arrivals__product-inner-wrapper {
  margin-bottom: 80px;
}

.arrivals__product-inner-wrapper:last-child {
  margin-bottom: 70px;
}

.arrivals__product-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.arrivals__product-inner-wrapper > .product {
  padding: 0 10px 0 0;
}

.arrivals__product-inner-wrapper > .product:last-child {
  padding: 0;
  max-width: 240px;
}

.arrivals__title {
  margin-bottom: 92px;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.02em;
}

.arrivals__action {
  margin: 0 auto;
  max-width: 300px;
}

.arrivals__heading {
  margin: 82px 0 100px;
  text-align: center;
}

.arrivals__offer-title {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 0.03em;
}

.arrivals__subtitle {
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-weight: 400;
}

.arrivals__offer {
  color: #f14a58;
}

.arrivals__show-more {
  text-align: center;
}
/* === / ARRIVALS === */

/* === INFO === */
.info__inner {
  display: flex;
  justify-content: space-between;
}

.info__links-wrapper,
.info__contact-info {
  padding: 34px 0 112px;
}

.info__links-wrapper {
  display: flex;
  max-width: 590px;
  width: 100%;
  letter-spacing: 0.03em;
}

.info__contact-info {
  border-left: 1px solid #e5e5e5;
}

.info__links {
  margin-right: 165px;
  max-width: 100px;
  width: 100%;
}

.info__customer-care {
  min-width: 130px;
}

.info__title {
  margin-bottom: 45px;
}

.info__title--margin {
  margin-bottom: 18px;
}

.info__title--margin-phone {
  margin-bottom: 15px;
}

.info__item-link,
.info__tweet-us,
.info__phone-number {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.info__item:not(:last-child) {
  margin-bottom: 22px;
}

.info__item-link {
  border-bottom: 1px solid #fff;
}

.info__item-link:hover {
  border-bottom: 1px solid #000;
}

.info__contact-info {
  padding-left: 58px;
  max-width: 590px;
  width: 100%;
}

.info__upper {
  display: flex;
  margin-bottom: 75px;
  letter-spacing: 0.03em;
}

.info__questions {
  margin-right: 108px;
}

.info__tweet,
.info__socials {
  display: flex;
  align-items: center;
}

.info__tweet-questions {
  margin-right: 10px;
}

.info__tweet-name {
  font-weight: 700;
}

.info__advantage {
  margin-bottom: 40px;
  max-width: 305px;
  font-family: 'Times New Roman', serif;
  font-style: italic;
  font-weight: 400;
  color: #757575;
  line-height: 1.8;
}

.info__facebook {
  margin-right: 24px;
}
/* === / INFO === */

/* === FILTER === */
.filter {
  display: flex;
  margin-bottom: 10px;
}

.filter__inner {
  display: flex;
}

.filter__result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 14px 18px;
  height: 64px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter__menu {
  position: absolute;
  top: 64px;
  display: none;
  padding: 6px 0;
  border: 1px solid #fff;
  width: calc(16.666% - 21px);
  background-color: #fff;
  cursor: pointer;
  z-index: 15;
}

.filter__menu-item {
  padding: 8px 18px;
  font-size: 12px;
}

.filter__menu-item:hover {
  background-color: #f7f7f7;
  color: #f14a58;
}

.filter__item {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 16.666%;
}

.filter__item--selected {
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.filter__item:hover {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-shadow: 0 2px 5px -2px #888
}

.filter__item:hover .filter__menu {
  display: block;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 5px -2px #888
}

.filter__result--selected {
  background-color: #f7f7f7;
}

.filter__name--selected {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

.filter__choice {
  font-size: 16px;
  margin: 0;
  color: #f14a58;
}
/* === / FILTER === */

/* === FOOTER === */
.footer {
  display: flex;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
  letter-spacing: 0.03em;
}

.footer__copy {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.footer__share {
  display: flex;
  align-items: center;
  position: relative;
  right: -20px;
}

.footer__share-text {
  display: inline-block;
  margin-right: 3px;
  font-size: 18px;
}

.footer__share-block {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  background: url("../img/share-block.png");
  width: 46px;
  height: 21px;
}

.footer__share-number {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__policy-link {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.footer__policy-link:not(:last-child) {
  margin-right: 35px;
}
/* === / FOOTER === */

@media screen and (max-width: 1220px) {
  .menu__item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .search__input {
    visibility: visible;
  }

  .offer__show-not-desktop {
    display: none;
  }

  .offer__product-list {
    margin-left: -42px;
  }

  .offer__equality-sign {
    left: -20px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  .search__input {
    width: 250px;
  }

  .search__input-icon {
    display: none;
  }

  .search__input-icon--toggler {
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1260px;
    padding: 0 40px;
  }

  .menu__item {
    font-size: 12px;
  }

  .menu__item:not(:last-child) {
    margin-right: 23px;
  }

  .header__inner {
    padding-bottom: 23px;
  }

  .header__logo-inner {
    font-size: 26px;
  }

  .first-screen__text {
    top: 5%;
  }

  .first-screen__product-name {
    font-size: 22px;
  }

  .offer__heading {
    margin-bottom: 110px;
  }

  .offer__subtitle {
    margin-top: 0;
  }

  .offer__title {
    margin-bottom: 13px;
    font-size: 40px;
  }

  .offer__inner {
    padding-top: 56px;
    padding-bottom: 215px;
  }

  .offer__subtitle {
    line-height: 1.9;
  }

  .offer__show-desktop {
    display: none;
  }

  .offer__product-list {
    width: 70%;
  }

  .offer__product-list > .product {
    max-width: 204px;
  }

  .product {
    max-width: 204px;
  }

  .product__img {
    max-width: 204px;
    max-height: 290px;
  }

  .arrivals__product-wrapper > .product:last-child {
    max-width: 204px;
  }

  .arrivals__product-wrapper > .product {
    max-width: 214px;
  }

  .product__thumbnail {
    margin-bottom: 42px;
  }

  .arrow-top {
    top: -45px
  }

  .arrow-bottom {
    bottom: -40px;
  }

  .new-price {
    font-size: 30px;
    top: -150px;
  }

  .old-price {
    font-size: 22px;
    top: 106px;
    left: -35px;
  }

  .offer__show-not-desktop {
    position: relative;
    left: 50%;
    transform: translateX(-170px);
    top: 116px;
    width: 339px;
  }

  .button {
    max-width: 339px;
    width: 100%;
    font-size: 20px;
  }

  .arrivals__inner {
    padding-top: 64px;
  }

  .arrivals__title {
    margin-bottom: 76px;
    font-size: 40px;
  }

  .arrivals__product-wrapper > .product:last-child {
    display: none;
  }

  .arrivals__product-wrapper > .product:nth-child(3) {
    padding: 0;
    max-width: 204px;
  }

  .info__upper {
    flex-direction: column;
    margin-bottom: 90px;
  }

  .info__links-wrapper,
  .info__contact-info {
    padding-top: 24px;
    padding-bottom: 95px;
  }

  .info__contact-info {
    padding-left: 100px;
    border: none;
  }

  .info__advantage {
    display: none;
  }

  .info__questions {
    margin: 0 0 20px;
  }

  .info__title--margin {
    margin-bottom: 22px;
  }

  .info__links {
    margin-right: 120px;
    min-width: 110px;
  }

  .info__item:not(:last-child) {
    margin-bottom: 21px;
  }

  .footer__share-text {
    font-size: 16px;
  }

  .footer__policy-link:not(:last-child) {
    margin-right: 7px;
  }

  .footer__share {
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }

  .nav {
    display: flex;
  }

  .offer__equality-show-mobile {
    display: none;
  }

  .footer__mobile-part {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .container {
    max-width: 1220px;
    padding: 0 20px;
  }

  .header__sign-up {
    display: none;
  }

  .header__logo {
    line-height: 62px;
  }

  .header__logo-inner span {
    display: none;
  }

  .header__logo-inner {
    font-size: 24px;
  }

  .header__logo-inner::after {
    content: 'TL';
  }

  .header__wrapper {
    top: 0;
  }

  .header {
    padding: 0;
  }

  .header__inner {
    padding: 0;
  }

  .header__burger,
  .header__close {
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
  }

  .header__burger {
    padding: 29px 0 29px 20px;
  }

  .header__close {
    padding: 27px 0 28px 19px;
  }

  .header__bag-quantity {
    margin-right: 20px;
  }

  .first-screen__wrapper {
    padding-bottom: 14px;
  }

  .first-screen__wrapper:first-child {
    border-right: 0;
  }

  .first-screen__inner > .first-screen__wrapper:last-child {
    display: none;
  }

  .first-screen__inner {
    display: flex;
    justify-content: center;
  }

  .first-screen__text {
    right: 14%;
  }

  .menu__item-link {
    font-size: 24px;
  }

  .menu {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 28px;
    padding-left: 20px;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 33px 0;
  }

  .search {
    height: 35px;
    position: relative;
  }

  .search__input {
    visibility: visible;
    width: 167px;
    left: 20px;
    bottom: 45px;
  }

  .search__input-icon {
    top: -10px;
    left: 175px;
  }

  .offer__title {
    margin-bottom: 17px;
    font-size: 26px;
  }

  .offer__inner {
    padding: 25px 0 0 0;
    margin-bottom: -62px;
  }

  .offer__subtitle {
    font-size: 14px;
    line-height: 2.1;
  }

  .offer__best {
    flex-wrap: wrap;
  }

  .offer__product-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .offer__product-list > .product {
    max-width: 204px;
  }

  .offer__summary {
    width: 100%;
  }

  .offer__equality-show-not-mobile {
    display: none;
  }

  .offer__equality-show-mobile {
    position: absolute;
    top: 200px;
    left: 200px;
  }

  .arrow-top,
  .arrow-bottom {
    width: 16px;
    height: 10px;
  }

  .arrow-top {
    top: -35px;
  }

  .arrow-bottom {
    bottom: -35px;
  }

  .offer__heading {
    margin-bottom: 100px;
  }

  .product__name,
  .product__price {
    font-size: 12px;
  }

  .product__name {
    margin-bottom: 14px;
  }

  .product__thumbnail {
    margin-bottom: 35px;
  }

  .new-price {
    font-size: 26px;
  }

  .old-price {
    font-size: 18px;
    left: 0;
    top: 110px;
  }

  .old-price::before {
    width: 75px;
  }

  .offer__show-not-desktop {
    top: -164px;
  }

  .button {
    width: 220px;
    display: block;
    margin: 0 auto;
  }

  .arrivals__inner {
    padding-top: 75px;
  }

  .arrivals__title {
    margin-bottom: 68px;
    font-size: 26px;
  }

  .arrivals__product-wrapper > .product:nth-child(3) {
    display: none;
  }

  .arrivals__product-wrapper > .product:nth-child(2) {
    padding: 0 0 0 10px;
  }

  .product ~ .product--new::after {
    left: 10px;
  }

  .arrivals__product-wrapper {
    justify-content: space-around;
    margin-bottom: 68px;
  }

  .arrivals__action .button{
    font-size: 18px;
  }

  .info__title {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .info__item-link {
    font-size: 12px;
  }

  .info__item:not(:last-child) {
    margin-bottom: 18px;
  }

  .info__inner {
    flex-direction: column;
  }

  .info__links {
    margin: 0;
  }

  .info__links-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 60px;
    border-bottom: 1px solid #e5e5e5;
    min-width: 100%;
  }

  .info__links-wrapper,
  .info__upper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .info__customer-care {
    width: 147px;
  }

  .info__upper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .info__contact-info {
    min-width: 100%;
    padding: 0;
  }

  .info__questions,
  .info__phone {
    width: 50%;
    padding-top: 4px;
    padding-bottom: 25px;
  }

  .info__phone {
    padding-left: 22px;
    border-left: 1px solid #e5e5e5;
  }

  .info__title--margin,
  .info__title--margin-phone {
    margin-bottom: 10px;
  }

  .info__title--margin {
    margin-bottom: 13px;
  }

  .info__tweet-us {
    font-size: 12px;
  }

  .info__phone-number {
    font-size: 12px;
  }

  .info__lower {
    display: none;
  }

  .info .container {
    padding: 0;
  }

  .footer .footer__policy {
    display: none;
  }

  .footer__mobile-part {
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;
  }

  .footer__policy-link,
  .footer__copy,
  .footer__share-number {
    font-size: 10px;
  }

  .footer__policy-link:not(:last-child) {
    margin-right: 14px;
  }

  .footer__share-text {
    font-size: 14px;
  }

  .footer__share-block {
    width: 40px;
    height: 19px;
  }

  .footer__share-number {
    top: 40%;
  }

  .footer__inner {
    padding: 22px 0;
  }
}

@media screen and (max-width: 600px) {
  .offer__equality-show-mobile {
    position: absolute;
    top: 200px;
    left: 150px;
  }
}

@media screen and (max-width: 480px) {
  .offer__equality-show-mobile {
    position: absolute;
    top: 200px;
    left: 125px;
  }
}

@media screen and (max-width: 425px) {
  .offer__equality-show-mobile {
    position: absolute;
    top: 200px;
    left: 100px;
  }
}

@media screen and (max-width: 380px) {
  .offer__equality-show-mobile {
    position: absolute;
    top: 200px;
    left: 90px;
  }
}

@media screen and (max-width: 360px) {
  .offer__equality-show-mobile {
    position: absolute;
    top: 200px;
    left: 70px;
  }
}

.show {
  visibility: visible;
}

.show-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 71px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: #fff;
}

.show-menu {
  display: flex;
}

.display-none {
  display: none;
}

.display-inline-block {
  display: inline-block;
}