/* === COMMON === */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.container--wider {
  max-width: 1300px;
  position: relative;
}

.lines {
  position: relative;
  flex-shrink: 10000;
  width: 100%;
}

.lines__left,
.lines__right {
  position: absolute;
  height: 1px;
  width: 100%;
}

.lines__left--top,
.lines__right--top {
  top: 0;
}

.lines__left--bottom,
.lines__right--bottom {
  bottom: 0;
}

.lines__left--top,
.lines__left--bottom {
  background: linear-gradient(270deg, #e5e5e5, #ffffff);
}

.lines__right--top,
.lines__right--bottom {
  background: linear-gradient(90deg, #e5e5e5, #ffffff);
}

.product {
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.arrow-top,
.arrow-bottom {
  position: absolute;
  left: 50%;
}

.arrow-top {
  top: -54px;
  transform: translateX(-50%);
}

.arrow-bottom {
  bottom: -49px;
  transform: translateX(-50%) rotate(180deg);
}

.product--new::after {
  content: 'NEW';
  position: absolute;
  display: inline-block;
  left: 0;
  top: 15px;
  padding: 6px 0;
  width: 53px;
  background-color: #f14a58;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.product__img {
  margin-bottom: 25px;
  height: 100%;
  width: 100%;
}

.product__description {
  font-size: 14px;
}

.product__name {
  letter-spacing: 0.015em;
}

.product__price {
  font-weight: 400;
}

.button {
  display: inline-block;
  padding: 23px 0;
  width: 339px;
  border: 1px solid #e5e5e5;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
/* === / COMMON === */

/* === HEADER === */
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 12px;
}

.header__logo {
  font-size: 30px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  top: -4px;
}

.header__sign-up {
  margin-right: 56px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}

.header__bag-icon {
  margin-right: 16px;
}

.header__bag-quantity {
  font-size: 12px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  font-size: 13px;
  letter-spacing: 0.01em;
}

.menu__item:not(:last-child) {
  margin-right: 66px;
}

.search {
  position: relative;
}

.search__input {
  padding: 10px 20px 10px 5px;
  width: 120px;
  border: none;
  border-bottom: 2px solid #e5e5e5;
  font-size: 12px;
  color: #a8a8a8;
  outline: none;
}

.search__inner::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-image: url("../img/search-icon.png");
}
/* === / HEADER === */

/* === FIRST-SCREEN === */
.first-screen {
  display: flex;
  position: relative;
}

.first-screen__inner {
  display: flex;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.first-screen__wrapper {
  position: relative;
}

.first-screen__text {
  position: absolute;
  top: 8%;
  right: 16%;
  text-align: center;
}

.first-screen__wrapper:first-child {
  border-right: 1px solid #e5e5e5;
}

.first-screen__img {
  height: 100%;
  width: 100%;
}

.first-screen__product-name {
  margin-bottom: 9px;
  font-size: 28px;
  letter-spacing: 0.02em;
}

.first-screen__discount {
  font-family: "Times New Roman", serif;
  color: #757575;
  font-weight: 300;
  text-align: center;
}
/* === / FIRST-SCREEN === */

/* === OFFER === */
.offer__inner {
  padding: 45px 0 149px;
}

.offer__heading {
  margin-bottom: 124px;
  text-align: center;
}

.offer__title {
  margin-bottom: 15px;
  font-size: 50px;
  letter-spacing: 0.025em;
}

.offer__subtitle {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-weight: 300;
}

.offer__best {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer__plus-sign,
.offer__equality-sign {
  position: relative;
  top: -50px;
}

.offer__summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -42px;
  height: 325px;
  font-family: 'Roboto', sans-serif;
}

.old-price {
  position: relative;
  top: 93px;
  left: -73px;
  font-size: 26px;
  color: #757575;
  font-weight: 400;
}

.old-price::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -6px;
  display: block;
  height: 1px;
  width: 100px;
  background-color: #f25a66;
  transform: rotate(-30deg);
}

.new-price {
  position: relative;
  bottom: -16px;
  font-size: 34px;
  letter-spacing: 0.015em;
}
/* === / OFFER === */

/* === ARRIVALS === */
.arrivals {
  display: flex;
}

.arrivals__inner {
  padding: 50px 0 100px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.arrivals__product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.arrivals__title {
  margin-bottom: 92px;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0.02em;
}

.arrivals__action {
  text-align: center;
}
/* === / ARRIVALS === */