<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Template</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <header class="header">
    <div class="container">
      <div class="header__inner">
        <a href="index.html" class="header__logo">
          <span class="header__logo-inner">
            <span>Template</span>
          </span>
        </a>
        <div class="header__wrapper">
          <a href="#" class="header__sign-up">
            <span class="header__sign-up-inner">
              E-mail sign up
            </span>
          </a>
          <a href="#" class="header__bag-icon">
            <img class="header__bag-icon-img" src="img/icons/bag-icon.png" alt="Shopping bag">
          </a>
          <a href="shopping-bag.html" class="header__bag-quantity">
            <div class="header__bag--inner">
              Bag<span class="header__bag-price display-none" id="total-price-header-wrapper">
              <span class="header__bag-currency">&#163;</span><span id="total-price-header"></span></span>
              (<span class="header__bag-amount" id="total-bag-quantity">0</span>)
            </div>
          </a>
          <img src="img/icons/burger.png" alt="Open menu" class="header__burger" onclick="toggleMenu(this)" id="burger-icon">
          <img src="img/icons/close-menu.png" alt="Close menu" class="header__close display-none" onclick="closeMenu(this)" id="close-icon">
        </div>
      </div>

      <nav class="nav" id="nav">
        <ul class="menu" id="menu">
          <li class="menu__item">
            <a href="#" class="menu__item-link">Women</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item-link">Men</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item-link">Handbags</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item-link">Accessories</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item-link">Sale</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item-link">New Arrivals</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item-link">Clearance</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__item-link">Store Locator</a>
          </li>
        </ul>
        <div class="search">
          <div class="search__inner">
            <label>
              <input class="search__input" type="text" placeholder="Style Name" id="search-input">
              <img src="img/icons/search-icon.png" alt="Search" class="search__input-icon" id="search-icon" onclick="closeMobileMenu()">
              <img src="img/icons/search-icon.png" alt="Search" class="search__input-icon--toggler" id="search-icon--toggler" onclick="toggleInput()">
            </label>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="shop">
    <div class="lines">
      <div class="lines__left lines__left--top"></div>
      <div class="lines__left lines__left--bottom"></div>
    </div>

    <div class="container--wider">
      <div class="container">
        <span class="shop__link">
          Shopping bag
        </span>
      </div>
    </div>

    <div class="lines">
      <div class="lines__right lines__right--top"></div>
      <div class="lines__right lines__right--bottom"></div>
    </div>
  </div>

  <section class="bag" id="displayed-bag">
    <div class="container">
      <div class="bag__inner" id="bag-inner"></div>

      <script id="bag-item-template" type="text/template">
        <div class="bag__item" data-identifier="<%-id%>">
          <div class="<% if(hasNew) { %>product product--new<% } else { %>product<% } %>">
            <a href="item.html">
              <div class="product__thumbnail">
                <div 
                  class="product__overlay" 
                  data-hover="<%-id%>&<% 
                  if (chosenSize) { %><%-chosenSize%><%} else {%>null<% } %>&<% 
                  if (chosenColor) { %><%-chosenColor%><%} else {%>null<% } %>">
                  <span 
                  class="product__overlay-text" 
                  data-hover="<%-id%>&<% 
                  if (chosenSize) { %><%-chosenSize%><%} else {%>null<% } %>&<% 
                  if (chosenColor) { %><%-chosenColor%><%} else {%>null<% } %>">Edit item</span>
                </div>
                <img src="<%-thumbnail%>" alt="<%-title%>" class="product__img">
              </div>
            </a>
          </div>
          <div class="bag__info">
            <h3 
              class="bag__item-name" 
              data-hover="<%-id%>&<%-chosenSize%>&<%-chosenColor%>">
              <%-title%>
            </h3>
            <div class="bag__price">
              <span class="bag__currency">&#163;</span>
              <% if (discountedPrice === null || discountedPrice === price) { %>
              <%-price.toFixed(2)%>
              <% } else if (discountedPrice < price) { %>
              <%-discountedPrice.toFixed(2)%>
              <% } %>
            </div>
            <div class="bag__description">
              <% if (chosenColor) { %>
              <div class="bag__heading-color">Color: <span class="bag__color"><%-chosenColor%></span></div>
              <% } else { %>
              <%-''%>
              <% } %>

              <% if (chosenSize) { %>
              <div class="bag__heading-size">Size: <span class="bag__size"><%-chosenSize%></span></div>
              <% } else { %>
              <%-''%>
              <% } %>
              <div class="bag__heading-quantity">Quantity:
                <div class="bag__quantity-wrapper">
                  <button 
                    class="bag__decrease-btn" 
                    data-chosenColor="<% if (chosenColor) { %><%-chosenColor%><%} else {%>null<% } %>" 
                    data-chosenSize="<% if (chosenSize) { %><%-chosenSize%><%} else {%>null<% } %>" 
                    data-quantity="decrease" 
                    data-identifier="<%-id%>">
                    <img 
                    src="img/icons/minus.png" 
                    alt="Decrease quantity by one" 
                    class="bag__decrease-sign" 
                    data-identifier="<%-id%>">
                  </button>
                  <span 
                    class="bag__quantity" 
                    data-chosenColor="<% if (chosenColor) { %><%-chosenColor%><%} else {%>null<% } %>" 
                    data-chosenSize="<% if (chosenSize) { %><%-chosenSize%><%} else {%>null<% } %>"  
                    data-identifier="<%-id%>"><%-quantity%></span>
                  <button 
                    class="bag__increase-btn" 
                    data-chosenColor="<% if (chosenColor) { %><%-chosenColor%><%} else {%>null<% } %>" 
                    data-chosenSize="<% if (chosenSize) { %><%-chosenSize%><%} else {%>null<% } %>"  
                    data-quantity="increase" 
                    data-identifier="<%-id%>">
                    <img 
                    src="img/icons/plus.png" 
                    alt="Increase quantity by one" 
                    class="bag__increase-sign" 
                    data-identifier="<%-id%>">
                  </button>
                </div>
              </div>
            </div>
            <button 
            class="bag__remove-item-btn"
            data-action="removeItem" 
            data-chosenColor="<% if (chosenColor) { %><%-chosenColor%><%} else {%>null<% } %>" 
            data-chosenSize="<% if (chosenSize) { %><%-chosenSize%><%} else {%>null<% } %>" 
            data-identifier="<%-id%>">Remove item</button>
          </div>
        </div>
      </script>
    </div>

    <div class="bag-promo" id="checkout-section">
      <div class="lines">
        <div class="lines__left lines__left--top"></div>
        <div class="lines__left lines__left--bottom hide"></div>
      </div>

      <div class="container--wider">
        <div class="bag-promo__text">
          <p class="bag-promo__text-inner">
            You've qualified for Free UK Next Day Delivery on your order. Don't forget to enter the code <span class="bag-promo__code">nexday</span> at checkout
          </p>
        </div>
        <div class="container">
          <div class="bag__checkout-wrapper">
            <button class="bag__empty-btn" data-action="removeAllItems">Empty bag</button>
            <div class="bag__checkout-btn-wrapper">
              <button class="button button--checkout" data-action="checkout">Checkout</button>
            </div>
            <div class="bag__total-price-wrapper">
              <div class="bag__discount display-none">
                Applied discount: <span class="bag__discount-currency">&#163;</span><span class="bag__discount-price">15.00</span>
              </div>
              <div class="bag__total">
                Total price: <span class="bag__total-currency">&#163;</span><span class="bag__total-price" id="total-price-checkout"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="lines">
        <div class="lines__right lines__right--top"></div>
        <div class="lines__right lines__right--bottom hide"></div>
      </div>
    </div>
  </section>

  <section class="info">
    <div class="lines">
      <div class="lines__left lines__left--top"></div>
      <div class="lines__left lines__left--bottom hide"></div>
    </div>
    <div class="container--wider border-bottom-none">
      <div class="container">
        <div class="info__inner">
          <div class="info__links-wrapper">
            <div class="info__links">
              <h4 class="info__title">Quick Links</h4>
              <ul class="info__items-wrapper">
                <li class="info__item">
                  <a href="#" class="info__item-link">Store locator</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">Gift cards</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">Size guide</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">About us</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">Support</a>
                </li>
              </ul>
            </div>
            <div class="info__customer-care">
              <h4 class="info__title">Customer Care</h4>
              <ul class="info__items-wrapper">
                <li class="info__item">
                  <a href="#" class="info__item-link">Customer service</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">Track my order</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">Return policy</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">Shipping & delivery</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">Contact us</a>
                </li>
                <li class="info__item">
                  <a href="#" class="info__item-link">Careers</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="info__contact-info">
            <div class="info__upper">
              <div class="info__questions">
                <h4 class="info__title info__title--margin">Questions</h4>
                <div class="info__tweet">
                  <img src="img/icons/tweeter-grey.png" alt="Tweeter" class="info__tweet-questions">
                  <div class="info__tweet-us">Tweet us <a href="#" class="info__tweet-name">@template</a></div>
                </div>
              </div>
              <div class="info__phone">
                <h4 class="info__title info__title--margin-phone">Order by phone</h4>
                <a href="tel:+88004094712" class="info__phone-number">8-800-409-47-12</a>
              </div>
            </div>
            <div class="info__lower">
              <p class="info__advantage">
                We have our own delivery service which operates in 23 major European cities. Delivery time - 3-5 days.
              </p>
              <div class="info__socials">
                <a class="info__facebook" href="#">
                  <img src="img/icons/fb-icon.png" alt="Facebook" class="info__facebook-icon">
                </a>
                <a class="info__tweeter" href="#">
                  <img src="img/icons/tweeter.png" alt="Tweeter" class="info__tweeter-icon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lines">
      <div class="lines__right lines__right--top"></div>
      <div class="lines__right lines__right--bottom hide"></div>
    </div>
  </section>

  <div class="footer__mobile-part">
    <div class="footer__policy">
      <a href="#" class="footer__policy-link">Legal notice</a>
      <a href="#" class="footer__policy-link">Privacy policy</a>
      <a href="#" class="footer__policy-link">Site map</a>
    </div>
    <div class="info__socials">
      <a class="info__facebook" href="#">
        <img src="img/icons/fb-icon.png" alt="Facebook" class="info__facebook-icon">
      </a>
      <a class="info__tweeter" href="#">
        <img src="img/icons/tweeter.png" alt="Tweeter" class="info__tweeter-icon">
      </a>
    </div>
  </div>

  <div class="footer">
    <div class="lines">
      <div class="lines__left lines__left--top"></div>
    </div>

    <div class="container--wider">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__copy">
            &copy; 2010–2015, The Template Group inc.
          </div>
          <a class="footer__share" href="#">
            <span class="footer__share-text">Share</span>
            <div class="footer__share-block"><span class="footer__share-number">1 437</span></div>
          </a>
          <div class="footer__policy">
            <a href="#" class="footer__policy-link">Legal notice</a>
            <a href="#" class="footer__policy-link">Privacy policy</a>
            <a href="#" class="footer__policy-link">Site map</a>
          </div>
        </div>
      </div>
    </div>

    <div class="lines">
      <div class="lines__right lines__right--top"></div>
    </div>
  </div>

  <script src="data/catalog.js"></script>
  <script src="js/lodash.js"></script>
  <script src="js/common.js"></script>
  <script src="js/shopping-bag-page.js"></script>
</body>
</html>